@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap');


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
  font-family: "Roboto";
  color: #3E4756;
  mix-blend-mode: normal;
}

.content {
  margin-left: 2rem;
  margin-right: 2rem;
}

h1 {
  color: #3E4756;

}

a {
  color: white;
  text-decoration: none;
}

nav {

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #6592CD;

}

nav a {
  margin: 2rem;
  font-weight: bold;
  color: #A2ACBD
}

nav a:hover {
  color: #6592CD;

}

nav .logo {
  margin-right: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #A2ACBD;
  background-color: whitesmoke;
  mix-blend-mode: multiply;
  overflow-x: hidden;
}
footer div {
  display: flex;
  /* or inline-flex */
  justify-content: align;
  align-items: center;
  left: 15rem; 
}
.accounts {
  display: flex;
  /* or inline-flex */
  justify-content: center;
  align-items: center;
}