@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap');

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 112px;
  /* identical to box height */
  color: #3E4756;
}

.container {
  margin: 3rem;
  display: flex;
  /* or inline-flex */
  justify-content: flex-start;
  align-items: space-between;
  overflow: hidden; 
}

.imgShadow {
  width: 417px;
  height: 70rem;
  left: 1200px;
  top: 140px;
  background: rgba(196, 196, 196, 0.4);
  mix-blend-mode: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.img {
  border-radius: 20px;
}